<div id="shopify-block-15683396631634586217" class="shopify-block shopify-app-block">
<script
  id="chat-button-container"
  data-horizontal-position=bottom_right
  data-vertical-position=higher
  data-icon=chat_bubble
  data-text=chat_with_us
  data-color=#202a36
  data-secondary-color=#FFFFFF
  data-ternary-color=#6A6A6A
  data-greeting-message=Hall%C3%B8jsa%21+%F0%9F%98%8E%0ASp%C3%B8rg+l%C3%B8s%2C+og+vi+skal+g%C3%B8re+vores+ypperste+for+at+besvare+dine+sp%C3%B8rgsm%C3%A5l.
  data-domain=nordicsiesta.dk
  data-external-identifier=MJZ5wS2N40QC7tWfzM9GKdmgzu4abgn9V_iVlPkFz3Q>
</script>
</div>