{%- liquid

    if settings.quickview_type == 'modal'
      assign quickview_class = 'js-modal-close'
      assign  quickview_data = 'aria-controls="modal-quickview-cart"'
    elsif settings.quickview_type == 'drawer'
      assign quickview_class = 'js-slideout-close'
      assign quickview_data = 'aria-controls="slideout-quickview-cart" data-slideout-direction="right"'
    endif

-%}


<section class="product-quickview__container">
  <div class="slideout__trigger--close slideout__trigger-quickview__wrapper">
    <button class="slideout__trigger-quickview {{ quickview_class }}" {{ quickview_data }} aria-label="Close quickview" tabindex="0" type="button" name="button">
      <div class="icn-close"></div>
    </button>
  </div>
  <div id="quickview-form" class="product-quickview__form-wrapper js-quickview-content">

  </div>
</section>
