.footer-section .selectors-form {
  justify-content: flex-end;
  margin: 0;
  display: flex;
  column-gap: 10px;
}

.footer-section .disclosure {
   position: relative;
}

.footer-section noscript .selectors-form__select {
  position: relative;
  white-space: nowrap;
  color: var(--footer-text);
  border: 1px solid var(--footer-text);
  border-right: 0;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--footer-background);
  margin: 0;
}

.footer-section noscript .selectors-form__select select {
  padding-right: 30px !important;
  margin-bottom: 0;
  max-width: 200px;
}

.footer-section noscript .selectors-form__select svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  fill: var(--footer-text);
}

.footer-section noscript .localization-form__noscript-btn {
  border: 1px solid var(--footer-text);
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}

.footer-section .disclosure__toggle {
   white-space: nowrap;
   color: var(--footer-text);
   border: 0;
   background-color: var(--footer-background);
   margin: 0;
   width: unset;
}

.footer-section .selectors-form__select.disclosure__toggle {
  position: relative;
}

.footer-section .disclosure__toggle select {
  margin-bottom: 0;
}

.footer-section .disclosure-list {
   background-color: var(--footer-background);
   border: 1px solid var(--footer-text);
   bottom: 105%;
   right:0;
   padding: 10px 0px;
   position: absolute;
   display: none;
   min-height: 92px;
   max-height: 300px;
   overflow-y: auto;
   border-radius: 2px;
   list-style: none;
   z-index: 1000;
}

.footer-section .disclosure-list--visible {
   display: block;
}

.footer-section .disclosure-list__item {
   border-bottom: 1px solid transparent;
   padding: 0 15px;
   text-align: left;
   width: 220px;
}

.footer-section .disclosure-list__item:active {
   background-color: rgba(128, 128, 128, 0.2);
}

.footer-section .disclosure-list__option {
   color: var(--footer-text) !important;
   border-bottom: 1px solid transparent;
   text-decoration: none !important;
   text-transform: capitalize;
   display: flex;
   justify-content: space-between;
   align-items: center;
   line-height: 2em !important;
   font-size: 13px;
}

.footer-section .disclosure-list__option:focus,
.footer-section .disclosure-list__option:hover {
   color: var(--footer-text);
   border-bottom: 1px solid var(--footer-background);
   text-decoration: none !important;
}

.footer-section .disclosure-list__item--current .disclosure-list__option {
   color: var(--footer-background);
   border-bottom: 1px solid var(--footer-background) !important;
   text-decoration: none !important;
   font-weight: 900;
}

.footer-section .disclosure-list__option span.country--name {
   flex: 0 1 145px;
}

..footer-section .disclosure-list__option .localization-form__currency {
  flex: 0 0 auto;
}

.footer-section span.country--flag {
   height: 18px;
   width: 18px;
   border-radius: 50% !important;
   overflow: hidden;
   margin-right: 5px;
   display: flex;
 }
 .footer-section .disclosure__toggle__flag {
   width: 100% !important;
   height: 18px;
   object-fit: cover;
 }
 .footer-section .disclosure__toggle {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
 }
 .footer-section .disclosure__toggle svg {
   min-width: 20px;
 }
 